body {
  color: #235789;
  font-family: 'Lato', sans-serif;
  background-color: #FDFFFC; /* Sanity Check! */
}

h1 h2 {
  margin-top: 100px;
  text-align: center;
}

#yasu-headshot {
  width: 200px;
  border-radius: 500px;
  display: block;
  margin: 0 auto;

}

hr {
  border: 0;
  border-bottom: 2px solid #F1D302;
}

.profilePhoto {
  max-width: 15em;
  border-radius: 20px;
}
.photos {
  max-width: 30em;
}

#photographers-list {
  padding-left: 12em;
}
#photos-list {
  padding-left: 6em;
}
/*#newPhotographer {
  max-width: 60%;
}*/
/*.fixed-width-500 {
  max-width: 200px;
}*/
